
<h2>Fintech Homepage</h2>
<div class="table-responsive">
<div class="col" style="background-color:lavender;">
<table class="table table-borderless">
    <thead>
      <tr>
        <th>Company</th>
        <th>Founded</th>
        <th>Sector</th>
        <th>Founders</th>
        <th>Average Rating</th>
        <th>Website</th>
      </tr>
    </thead>
    <body>
          <%@fintechs.each do |fintech|%>
      <tr>
        <td><a href="/fintechs/<%=fintech.id%>"><%=fintech.name%></a></td>
        <td><%=fintech.founded%></td>
        <td><%=fintech.sector%></td>
        <td><%=fintech.founders%></td>


        <% @fintech_rating = [] %>
        <% @reviews.each do |review| %>
        <% if review.fintech_id == fintech.id%>
        <% @fintech_rating << review.rating %>
        <% @rating = @fintech_rating.sum / @fintech_rating.size %>
        <% @rating %>
        <% end %>
        <% end %>

        <td><%=@rating%>/ 5</td>
        <td><%=fintech.url%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
</div>

<button type="submit" class="btn btn-primary"><a href="/fintechs/new" class="text-white">Create a new Fintech post</a></button>
</div>
</br>

