  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Edit your profile:</h5>
  <h2>Edit your profile</h2>
  <form action="/<%=current_user.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
     <div class="form-group">
      <input type="text" class="form-control"id="name" placeholder="<%=current_user.name%>" name="name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control"id="username" placeholder="<%=current_user.username%>" name="username">
    </div>
    <div class="form-group">
      <input type="text" class="form-control"id="email" placeholder="<%=current_user.email%>" name="email" required>
    </div>
        <div class="form-group">
      <input type="text" class="form-control"id="pswd" placeholder="*************" name="pswd" required>
    </div>
  <button type="submit" class="btn btn-primary">Update</button>
  </form>
  </br>
  <form action="/<%= current_user.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-primary">Delete</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>