<div class="container">
<div class="row">
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
<div class="card card-signin my-5">
<div class="card-body">

  <h1 class="card-title text-center"><%= current_user.name %></h1>
  <hr class="my-4">
  
    <dl>
    <dd>Email: <%=current_user.email%></dd>
    <dd>Username: <%=current_user.username%></dd>
    </dl>
   <hr class="my-4">
   
    <h4>Posts created:</h4>
    <% @fintechs.each do |fintech|%>
    <% if current_user.id == fintech.user_id %>
    <div class="container">
    <a href="/fintechs/<%=fintech.id%>"><%=fintech.name%></a>
    </div>
    <%end%>
    <%end%>

  <hr class="my-4">
  <h4>Reviews created:</h4>
  <%@reviews.each do |review|%>
  <% if current_user.id == review.user_id %>
  <div class="container">
  <a href='/reviews/<%=review.id%>'><%=review.company_name%> - <%=review.created_at%></a>
  </div>
  <%end%>
  <%end%>

  <hr class="my-4">
  <button type="submit" class="btn btn-primary"><a class="text-white" href="/users/<%=current_user.id%>/edit">Edit profile</a></button>

</div>
</div>
</div>
</div>
</div>
