</br>
<div class="container-fluid">
  <div class="table-responsive">
  <div class="col" style="background-color: #ebfbf4; font-size: 150%;">

    <table class="table table-borderless table-hover" style="font-size: large;">
    <thead>
      <tr>
      <th>Company</th>
      <th>Rating</th>
      <th>Comments</th>
      <th>User</th>
      <th>Date submitted</th>
      </tr>
    </thead>
    <body>
      <tr>
      <%@reviews.each do |r|%>
      <td><%=r.company_name%></a></td>
      <td><%=r.rating%></td>
      <td><a href='/reviews/<%=r.id%>'>See review here</a></td>
      <td><%=r.user.username%></td>
      <td><%=r.created_at%>></td>
      </tr>
      <%end%>
    </tbody>
    </table>
        
  </div>
  </div>

  <a href="/reviews/new" class="text-white"><button type="submit" class="btn btn-warning">Create a new Review</button></a>
</div>

