<div class="container-fluid">
<div class="container">
<div class="row">
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
<div class="card card-signin my-5">
<div class="card-body" style="border: solid; border-color: #3AB795; color: #3AB795; background-color:#EDEAD0;">

  <h3 class="card-title text-center"><%=@review.company_name%></h3>
  <hr class="my-4">

  <h4>Rating:</h4>
  <p>Reviewed as <%=@review.rating%> out of 5</p>
  <hr class="my-4">

  <h4>Review:</h4>
  <p class="mb-0">"<%=@review.content%>"</p>
  <hr class="my-4">

  <h6>Created by - <%=@review.user.username%> at <%=@review.created_at%></h6>
  <hr class="my-4">

  <%if @review.user_id == current_user.id%>
  <a href='/reviews/<%=@review.id%>/edit'><button type="submit" class="btn-lg btn-warning btn-block">Edit Review</button></a>
  <%end%>

</div>
</div>
</div>
</div>
</div>
</div>